@import "home";
.back-add-box{
  width: 1000px;
  color: #ffffff;
  @include fontSize(20px);
  margin: 40px auto 0px;
  overflow: hidden;
}
.top-opt{
  width: 220px;
  height: 220px;
  float: left;
  color: #ffffff;
  padding-top: 40px;
  text-align: center;
  margin:0px 40px 0px 0px;
  &.back-item{
    background-color: #ab487f;
  }
  .top-opt-icon{
    margin-bottom: 26px;
  }
}
.system-item{
  position: relative;
  .opt-icon{
    position: absolute;
    top: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    cursor: pointer;
    @include fontSize(30px);
  }
  .edit-icon{
    left: 0;
  }
  .remove-icon{
    right: 0;
  }
}
.add-item{
  cursor: pointer;
}
.modal-dialog {
  .modal-content{
    background-color: #f3f4f7;
    .modal-body {
      width: 80%;
      margin: 0 auto;
      .upload-box {
        margin-bottom: 20px;
        .preview-box {
          width: 80px;
          height: 80px;
          margin: 20px auto 0px;
          background-color: #50b3cc;
          border: 1px solid #cccccc;
          .preview-img {
            width: 100%;
          }
        }

        .upload-btn {
          width: 90px;
          height: 34px;
          text-align: center;
          margin: 20px auto 0px;
          line-height: 34px;
          background-color: #cccccc;
        }
      }
      .form-group {
        margin: 0px auto 20px;
        .input-group-addon {
          min-width: 81px;
        }
        .error-info{
          font-size: 12px;
          margin-left: 81px;
        }
      }
      .btn-box {
        width: 90px;
        display: block;
        margin: 20px auto 0px;
      }
    }
  }
}
.ajax-upload-dragdrop{
  width: 118px;
  margin: 10px auto;
  padding: 10px 0px 0px 0px;
  border: none;
}
.ajax-file-upload{
  margin-left: 14px;
}