@mixin boxShadow() {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15) , 0 -1px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15) , 0 -1px 3px rgba(0,0,0,0.15);
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) , 0 -1px 3px rgba(0,0,0,0.15);
}

body{
  background-color: #EEE;
}

.question-page{
  margin-top:10px;
  ul{
    li{
      background-color:#FFF;
      margin-bottom:10px;
      font-size:0.9em;
      @include boxShadow;

      .title{
        color:#F79321;
        height:37px;
        line-height:37px;
        border-bottom:1px solid #b8b8b8;
        img{
          margin:0 11px;
          width:20px;
          height:20px;
          vertical-align:middle;
        }
      }

      .value{
        padding:11px;
        div{
          line-height:150%;
        }
        span:first-child{
          color:#F79321;
        }
      }
    }
  }
}