.idea/
node_modules/
bower_components/
**/lib/
**/www/css/
dist/
**/script/common/pager.js
**/script/common/storage.js
**/script/common/util.js
**/script/common/config.js
**/script/common/font-awesome.min.css
**/script/common/header-view.js
**/script/common/modal.js
**/sass/common.scss
!common/sass/*
**/script/test/
**/dist/
.DS_Store