@import "color";
.main-top {
  position: relative;
  .nav-tabs {
    border-bottom: none;
    li {
      a {
        min-width: 72px;
        margin-right: 0px;
        padding: 6px 15px;
        color: #333333;
        font-size: 18px;
        border-color: #DDDDDD;
        background-color: #ffffff;
      }
    }
    li.active {
      a {
        color: #4e9198;
        background-color: $partBg;
      }
    }
  }
}
