@import "color";
@import "normal";
.main-box{
  position: relative;
  min-width: 1100px;
  background-color: #edf1f2;
  padding-top: 14px;
  .main-content{
    min-width: 980px;
    padding: 0px 20px 20px;
    position: relative;
    @import "list-common";
    .list-col{
      width: 11%;
      &.big-list-col{
        width: 23%;
      }
    }

    @import "pager-special";
  }
}